@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root{
    --color-1: #f4f5ff;
    --color-2: #673de6;
    --btn-hover-color: #5734c2;
}

html, body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}